<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Antrian.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Antrian.Properties.Settings>
      <setting name="poliklinik" serializeAs="String">
        <value>Umum</value>
      </setting>
      <setting name="IsRemoteConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="antrian" serializeAs="String">
        <value>Poliklinik</value>
      </setting>
    </Antrian.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="klinikDatabaseConeection"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />
    <add name="dokter.Properties.Settings.db_klinikConnectionString"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;Persist Security Info=True;User ID=admin;Password=fkm1396"
         providerName="System.Data.SqlClient" />
    <!--<add name="klinikDatabaseConeection"
         connectionString="Data Source=sql5016.site4now.net;User ID=DB_A4BE38_fiqrikm15_admin;Password=@Rats12345" />-->
  </connectionStrings>
</configuration>