<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="klinikDatabaseConeection"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />-->
    <add name="dokter.Properties.Settings.db_klinikConnectionString"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;Persist Security Info=True;User ID=admin;Password=fkm1396"
         providerName="System.Data.SqlClient" />
    <add name="klinikDatabaseConeection"
         connectionString="Data Source=SQL5016.site4now.net;Initial Catalog=DB_A4BE38_fiqrikm15;User Id=DB_A4BE38_fiqrikm15_admin;Password=@Rats12345;" />
  </connectionStrings>
</configuration>