<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PanggilAntrianApotik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="klinikDatabaseConeection"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />
    <add name="dokter.Properties.Settings.db_klinikConnectionString"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;Persist Security Info=True;User ID=admin;Password=fkm1396"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <PanggilAntrianApotik.Properties.Settings>
      <setting name="SocketPort" serializeAs="String">
        <value>16000</value>
      </setting>
      <setting name="SocketServer" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
    </PanggilAntrianApotik.Properties.Settings>
  </userSettings>
</configuration>