<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="klinikDatabaseConeection" connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />
    <add name="db_klinikEntities" connectionString="metadata=res://*/DBAccess.DataStaff.csdl|res://*/DBAccess.DataStaff.ssdl|res://*/DBAccess.DataStaff.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.105,1433\SQLEXPRESS;initial catalog=db_klinik;user id=admin;password=fkm1396;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="admin.Properties.Settings.db_klinikConnectionString"
      connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <admin.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="role" serializeAs="String">
        <value />
      </setting>
    </admin.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>