<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Apotik.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="klinikDatabaseConeection"
         connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />
    <!--<add name="klinikDatabaseConeection"
         connectionString="Data Source=sql5016.site4now.net;Initial Catalog=DB_A4BE38_fiqrikm15;User ID=DB_A4BE38_fiqrikm15_admin;Password=@Rats12345"/>-->
  </connectionStrings>
  <userSettings>
    <Apotik.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="KodeApoteker" serializeAs="String">
        <value>AP001</value>
      </setting>
      <setting name="SocketAntriApotik" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
      <setting name="PortAntriApotik" serializeAs="String">
        <value>14000</value>
      </setting>
      <setting name="IsRemoteConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerialPortName" serializeAs="String">
        <value>COM3</value>
      </setting>
    </Apotik.Properties.Settings>
  </userSettings>
</configuration>