<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dokter.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <dokter.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="KodeDokter" serializeAs="String">
        <value>DK001</value>
      </setting>
      <setting name="SocketServerAntri" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
      <setting name="ScoketServerApotik" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
      <setting name="SocketPortAntri" serializeAs="String">
        <value>13000</value>
      </setting>
      <setting name="SockertPortApotik" serializeAs="String">
        <value>14000</value>
      </setting>
      <setting name="SerialName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="IsRemoteConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setupAnrian" serializeAs="String">
        <value>1o1</value>
      </setting>
      <setting name="Role" serializeAs="String">
        <value>Umum</value>
      </setting>
    </dokter.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="klinikDatabaseConeection" connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396" />
    <add name="dokter.Properties.Settings.db_klinikConnectionString"
      connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;Persist Security Info=True;User ID=admin;Password=fkm1396"
      providerName="System.Data.SqlClient" />
    <add name="dokter.Properties.Settings.db_klinikConnectionString1"
      connectionString="Data Source=192.168.1.105,1433\SQLEXPRESS;Initial Catalog=db_klinik;User ID=admin;Password=fkm1396"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>